
// Variables de colores
$primary-color: #333;
$secondary-color: #f4f4f4;
$accent-color: red;
$background-color: rgba(0, 0, 0, 0.5);
$button-bg: #000000be;
$button-hover-bg: #a00f0faf;

// Tipografía
$font-main: 'Arial', sans-serif;
$font-title: 'Roboto Mono', monospace;
