/* Estilos generales */
/* Aplica que al body y al html para que ocupen toda la altura */
html,
body {
  height: 100%;
  min-height: 100vh; /* altura mínima para ocupar toda la pantalla */
  /*background-position: top center;*/
}
/* Tipografía */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Arial', sans-serif;
  color: #333;
}
p {
  font-family: 'Arial', sans-serif;
  color: #666;
  font-size: 1rem;  
  line-height: 1.5;
}

.roboto-mono {
  font-family: 'Roboto Mono', monospace;
  color: #333;
}
.roboto-mono-h2 {
  margin-top: 0;
  font-family: "Roboto Mono", monospace;  
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  color: rgb(255, 255, 255);
  text-shadow: 2px 2px 6px black;
  font-size: 1.2rem;
}
.roboto-mono-manser {
  margin-top: 0;
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: black;
  text-shadow: 2px 2px 4px white;
  font-size: 1rem;
  line-height: 1.6;
  @media screen and (max-width: 768px) {
    font-size: 1rem; /* Ajusta el tamaño de fuente en pantallas pequeñas */
    line-height: 1.4; /* Ajusta el interlineado en pantallas pequeñas */  
  }
}

/* Estilos específicos para la clase .p2 */
.p2 {
  color: white;
  font-size: 1.2rem;
  line-height: 1.6;
  margin: 1rem 0;
  @media screen and (max-width: 768px) {
    font-size: 1rem; /* Ajusta el tamaño de fuente en pantallas pequeñas */
    margin: 0.5rem 0; /* Reduce el margen en pantallas pequeñas */  
  }
} 


.email-footer{
  color: white;
  margin-right: 200px;
  @media screen and (max-width: 768px) {
    margin-right: 0;
    
  }
}
  /* Tamaño de fuente base */                     