.button-group {
  display: flex;
  flex-direction: row;
  gap: 3rem;
  max-width: 100%;
}




.btn {
  background-color: #000000be;
  color: white;
  padding: 1rem 2rem;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  width: auto;

  &:hover {
    transform: scale(1.1);
    background-color: #a00f0faf;
    color: rgb(255, 230, 0);
  }
}

@media (max-width: 768px) {
  .btn {
    padding: 0.8rem 1.5rem;
    font-size: 1.5rem;
    width: 100px;
  }
}

@media (min-width: 769px) {
  .btn {
    padding: 1rem 2rem;
    font-size: 1.5rem;
    width: 180px;
  }
}



.btn:hover {
  transform: scale(1.1); /* aumenta tamaño en un 20% */
  background-color: #a00f0faf;
}



.nav-buttons {
  text-align: center;
  margin-top: 20px;
}



.nav-buttons button {
  background-color: transparent;
  border: none;
  color: white;
  font-size: 2rem;
  margin: 0 20px;
  cursor: pointer;
}



  .btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem 1.5rem;
    flex-direction: row;
    align-items: center;
    font-size: 1rem;
    width: 300px; /* Ajustar el ancho de los botones */
    height: 80px; /* Ajustar la altura de los botones */
  }



  .btn {
    padding: 0.8rem 1.5rem;
    flex-direction: row;
    align-items: center;
    font-size: 1rem;
  }



  .button-group {
    margin-top: 3rem; /* subir el margen para separar del contenido anterior */
  }



  .nav-buttons button {
    font-size: 1.5rem;
    margin: 0 10px;
  }